<h1>Again2002 Support Website</h1>
<p>
This is the home page for the
<a href="http://empty-earth-591.heroku.com/">Again2002 Support Website</a>
by Calvin Lee.
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
